.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 71px;
}

.info {
  width: 100%;
  height: 245px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials {
  width: 100%;
  height: 266px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 445px;
  height: 100%;
}

.title {
  font-size: 56px;
  font-weight: 700;
  color: var(--very-dark-magenta);
  line-height: 48px;
  letter-spacing: -2px;
  margin-bottom: 25px;
}

.description {
  font-size: 19px;
  font-weight: 500;
  color: var(--dark-grayish-magenta);
  line-height: 25px;
  letter-spacing: -0.63px;
}

.ratings {
  width: 540px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1145px) {
  .ratings {
    width: 445px;
  }

  .testimonials {
    height: 484px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 16px;
  }
}

@media screen and (max-width: 1050px) {
  .info {
    height: 477px;
    flex-direction: column;
  }

  .text {
    height: 245px;
    text-align: center;
  }
}

@media screen and (max-width: 740px) {
  .testimonials {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .container {
    gap: 49px;
  }

  .info {
    height: auto;
    gap: 39px;
  }

  .text {
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 40px;
    line-height: 32px;
    letter-spacing: -1.43px;
    margin-bottom: 17px;
  }

  .ratings {
    width: 100%;
    height: auto;
    justify-content: unset;
    gap: 16px;
  }
}
