.rating {
  width: 445px;
  height: 56px;
  padding: 20px 32px;
  background: var(--light-grayish-magenta);
  display: flex;
  align-items: center;
  gap: 32.45px;
  border-radius: 8px;
}

.rating:nth-child(1) {
  align-self: flex-start;
}

.rating:nth-child(3) {
  align-self: flex-end;
}

.icons {
  width: 116.55px;
  height: 15.77px;
  display: flex;
  gap: 8px;
}

.text {
  font-size: 17px;
  font-weight: 700;
  color: var(--very-dark-magenta);
}

@media screen and (max-width: 11145) {
  .rating:nth-child(1),
  .rating:nth-child(3) {
    align-self: unset;
  }
}

@media screen and (max-width: 480px) {
  .rating {
    width: 100%;
    height: 78px;
    padding: 16px 0 15px;
    flex-direction: column;
    gap: 15px;
  }
}
