*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  width: 100%;
  max-width: 1440px;
}

body {
  height: 800px;
  padding: 118px 165px 100px;
  background: url("/bg-pattern-top-desktop.svg") top left no-repeat,
    url("/bg-pattern-bottom-desktop.svg") bottom right no-repeat, var(--white);
  font-family: "League Spartan", sans-serif;
}

@media screen and (max-width: 1400px) {
  body {
    padding: 118px 120px 100px;
  }
}

@media screen and (max-width: 1310px) {
  body {
    padding: 118px 80px 100px;
  }
}

@media screen and (max-width: 1220px) {
  body {
    padding: 118px 40px 100px;
  }
}

@media screen and (max-width: 1145px) {
  body {
    height: 1000px;
    padding: 100px 80px;
  }
}

@media screen and (max-width: 1050px) {
  body {
    height: 1232px;
    padding: 100px 10px;
  }
}

@media screen and (max-width: 740px) {
  body {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 82px 24px 99px;
  }
}

@media screen and (max-width: 426px) {
  body {
    background: url("/bg-pattern-top-mobile.svg") top left no-repeat,
      url("/bg-pattern-bottom-mobile.svg") bottom right no-repeat, var(--white);
    background-size: 100%;
  }
}
